aiosmtpd
annotated-types
anyio
arrow
asgiref
atpublic
attrs
binaryornot
certifi
cffi
chardet>=3.0.2,<5
charset-normalizer
click
cookiecutter
debugpy
distro
Django
django-appconf
django-browser-reload
django-compressor
django-cors-headers
django-decouple
django-sass-processor
django-tailwind
djangorestframework
djangorestframework-simplejwt
drf-spectacular
exceptiongroup
filelock
fsspec
h11
httpcore
httpx
idna
inflection
Jinja2
jiter
jsonschema
jsonschema-specifications
libsass
markdown-it-py
MarkupSafe
mdurl
mpmath
mysqlclient
networkx
nose
numpy
openai
psutil
pycparser
pydantic
pydantic_core
pydub
Pygments
PyJWT
python-dateutil
python-decouple
python-dotenv
python-slugify
PyYAML
rcssmin
referencing
requests
rich
rjsmin
rpds-py
setuptools
six
sniffio
sqlparse
srt
sympy
text-unidecode
torch
tqdm
types-python-dateutil
typing_extensions
uritemplate
urllib3
vosk
websockets
whisper
whitenoise
